In [1]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from sklearn.impute import SimpleImputer
from sklearn.ensemble import RandomForestRegressor
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score,train_test_split
from sklearn.preprocessing import QuantileTransformer  
from xgboost import XGBClassifier
import sys
sys.path.append('..')
from WinePredictModel.data import GetData
from WinePredictModel.encoder import (
    YearVintageEncoder,WeatherEncoder,FeatureSelectionEncoder,PriceImputer,
    DescriptionSentimentEncoder,
    VocabRichnessEncoder,
    TitleLengthEncoder,
    PriceBinEncoder,
    FeatureSelectionEncoder,
    CreateDummies,
YearReturnEnconder)
%matplotlib inline

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/edwardburroughes/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package movie_reviews to
[nltk_data]     /Users/edwardburroughes/nltk_data...
[nltk_data]   Package movie_reviews is already up-to-date!

In [2]:
d = GetData('gcp',nrows=25000)

In [3]:
df = d.clean_data()
df.shape

(24704, 10)

In [4]:
X = df.drop(columns='points')
y = df['points']

In [11]:
y

      points
0          2
1          2
2          2
3          2
4          2
5          2
6          2
7          2
8          2
9          2
10         2
11         2
12         2
13         2
14         2
15         2
16         2
17         2
18         2
19         2
20         2
21         2
22         2
23         2
24         2
25         2
26         2
27         2
28         2
29         2
...      ...
24970      3
24971      3
24972      3
24973      2
24974      2
24975      2
24976      2
24977      2
24978      2
24979      2
24980      2
24981      2
24982      2
24983      2
24984      2
24985      2
24986      2
24987      2
24988      2
24989      2
24990      2
24991      2
24992      2
24993      2
24994      2
24995      2
24996      2
24997      2
24998      2
24999      2

[24704 rows x 1 columns]

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline, make_pipeline
CAT_FEATURES = ["province", "variety", "country", "winery", "region_1"]
pipe_sentiment = make_pipeline(
            DescriptionSentimentEncoder(description="description"),
            QuantileTransformer(),
)
pipe_title_length = make_pipeline(
    TitleLengthEncoder(taster_name="taster_name", title="title"),
    QuantileTransformer(),
)
pipe_vocab_richness = make_pipeline(
    VocabRichnessEncoder(description="description"), QuantileTransformer()
)
price_bin = make_pipeline(PriceBinEncoder(price="price"), OneHotEncoder())

pipe_weather = make_pipeline(
            WeatherEncoder('country','year'),
            SimpleImputer(strategy = 'median'),
            QuantileTransformer()   
        )


# Define default feature engineering blocs
feateng_blocks = [
    ("weather", pipe_weather, ["country","year"]),
    ("year",YearReturnEnconder("year"),["year"]),
    ("description_sentiment", pipe_sentiment, ["description"]),
    ("title_length", pipe_title_length, ["taster_name","title"]),
    ("vocab_richness", pipe_vocab_richness, ["description"]),
    ("price_bin", price_bin, ["price"]),
    ("categorical",CreateDummies(),CAT_FEATURES)
]

In [8]:

feature_year_encoder = ColumnTransformer(
            feateng_blocks, n_jobs=None,remainder='drop'
        )

pipeline = Pipeline(steps=[
            ('feature',FeatureSelectionEncoder(threshold=1E-6)),
            ('year', YearVintageEncoder(title="title")),
            ('price_impute',PriceImputer(price='price')),
            ('feat_eng',feature_year_encoder),
            ('scaler',QuantileTransformer())
])

X_new = pipeline.fit_transform(X)

In [10]:
X_new[0].shape

(10441,)

In [46]:
fy = YearVintageEncoder(title="title")
X_new = fy.fit_transform(df)

In [47]:
X_new['year'].unique()

array([1970.,   nan])

In [13]:
list(range(5))

[0, 1, 2, 3, 4]